@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a,
button,
img {
  transition: all 0.3s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #202020;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: ease 300ms;
}

.modal {
  width: clamp(50%, 700px, 100%);
  height: min(50%, 500px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-fixed-left {
  opacity: 0;
  animation: bottomfade 1s;
  animation-fill-mode: forwards;
}

.bottom-fixed-left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #202020;
  top: 125px;
  left: 50%;
  right: 0;
  z-index: 10;
}

.bottom-fixed-right {
  writing-mode: vertical-rl;
  letter-spacing: 4px;
  opacity: 0;
  animation: bottomfade 1s;
  animation-fill-mode: forwards;
}

.bottom-fixed-right::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #202020;
  top: 285px;
  left: 0;
  right: 50%;
  z-index: 10;
}

@keyframes bottomfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
